<<<<<<< Updated upstream
<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<<<<<<< Updated upstream
<tr bgcolor="9c6faa">  <td>20/03/12 17:42:43</td>   <td>0</td> <td title="&gt;&gt;BaseLib.before_suite()[pri:0, instance:com.letstransport.scripts.TC_003_DriverHelpline@3d98729a]">&gt;&gt;before_suite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@754932387</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/03/12 17:42:43</td>   <td>60</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib._LaunchApp()[pri:0, instance:com.letstransport.scripts.TC_003_DriverHelpline@3d98729a]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td>  <td>main@754932387</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/03/12 17:43:13</td>   <td>29536</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_003_DriverHelpline.TC_003_DriverHelpline()[pri:1, instance:com.letstransport.scripts.TC_003_DriverHelpline@3d98729a]">TC_003_DriverHelpline</td> 
  <td>main@754932387</td>   <td></td> </tr>
<tr bgcolor="83b467">  <td>20/03/12 17:43:13</td>   <td>29554</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TC_003_DriverHelpline.reset()[pri:0, instance:com.letstransport.scripts.TC_003_DriverHelpline@3d98729a]">&lt;&lt;reset</td> 
<td>&nbsp;</td>  <td>main@754932387</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/03/12 17:43:13</td>   <td>29730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.after_suite()[pri:0, instance:com.letstransport.scripts.TC_003_DriverHelpline@3d98729a]">&lt;&lt;after_suite</td> 
<td>&nbsp;</td>  <td>main@754932387</td>   <td></td> </tr>
<tr bgcolor="9c6faa">  <td>20/03/12 17:43:13</td>   <td>29767</td> <td title="&lt;&lt;BaseLib.OracleCloseConnection()[pri:0, instance:com.letstransport.scripts.TC_003_DriverHelpline@3d98729a]">&lt;&lt;OracleCloseConnection</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@754932387</td>   <td></td> </tr>
=======
<tr bgcolor="a2a371">  <td>20/03/31 14:27:50</td>   <td>0</td> <td title="&gt;&gt;BaseLib.before_suite()[pri:0, instance:com.letstransport.scripts.TC_POD_004@299cab08]">&gt;&gt;before_suite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1868914109</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>20/03/31 14:27:50</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib._LaunchApp()[pri:0, instance:com.letstransport.scripts.TC_POD_004@299cab08]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td>  <td>main@1868914109</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/03/31 14:28:18</td>   <td>28370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_POD_004.TOC_POD_EnterLogSheetInfo()[pri:1, instance:com.letstransport.scripts.TC_POD_004@299cab08]">TOC_POD_EnterLogSheetInfo</td> 
  <td>main@1868914109</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>20/03/31 14:28:18</td>   <td>28399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.after_suite()[pri:0, instance:com.letstransport.scripts.TC_POD_004@299cab08]">&lt;&lt;after_suite</td> 
<td>&nbsp;</td>  <td>main@1868914109</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>20/03/31 14:28:19</td>   <td>29196</td> <td title="&lt;&lt;BaseLib.OracleCloseConnection()[pri:0, instance:com.letstransport.scripts.TC_POD_004@299cab08]">&lt;&lt;OracleCloseConnection</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1868914109</td>   <td></td> </tr>
>>>>>>> Stashed changes
</table>
=======
<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a2a371">  <td>20/03/31 14:27:50</td>   <td>0</td> <td title="&gt;&gt;BaseLib.before_suite()[pri:0, instance:com.letstransport.scripts.TC_POD_004@299cab08]">&gt;&gt;before_suite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1868914109</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>20/03/31 14:27:50</td>   <td>31</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseLib._LaunchApp()[pri:0, instance:com.letstransport.scripts.TC_POD_004@299cab08]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td>  <td>main@1868914109</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>20/03/31 14:28:18</td>   <td>28370</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_POD_004.TOC_POD_EnterLogSheetInfo()[pri:1, instance:com.letstransport.scripts.TC_POD_004@299cab08]">TOC_POD_EnterLogSheetInfo</td> 
  <td>main@1868914109</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>20/03/31 14:28:18</td>   <td>28399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseLib.after_suite()[pri:0, instance:com.letstransport.scripts.TC_POD_004@299cab08]">&lt;&lt;after_suite</td> 
<td>&nbsp;</td>  <td>main@1868914109</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>20/03/31 14:28:19</td>   <td>29196</td> <td title="&lt;&lt;BaseLib.OracleCloseConnection()[pri:0, instance:com.letstransport.scripts.TC_POD_004@299cab08]">&lt;&lt;OracleCloseConnection</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1868914109</td>   <td></td> </tr>
</table>
>>>>>>> Stashed changes
