<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b7a4e0">  <td>18/09/17 12:33:12</td>   <td>0</td> <td title="&gt;&gt;BaseLib.before_suite()[pri:0, instance:com.amcu.android.script.configuration.TC_01_ConfigureMilkAnalyzer@3a6f2de3]">&gt;&gt;before_suite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896552614</td>   <td></td> </tr>
<tr bgcolor="b7a4e0">  <td>18/09/17 12:33:13</td>   <td>1026</td> <td>&nbsp;</td><td title="&gt;&gt;BaseLib._LaunchApp()[pri:0, instance:com.amcu.android.script.configuration.TC_01_ConfigureMilkAnalyzer@3a6f2de3]">&gt;&gt;_LaunchApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896552614</td>   <td></td> </tr>
<tr bgcolor="85dc6f">  <td>18/09/17 12:33:26</td>   <td>13566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_01_ConfigureMilkAnalyzer.testCreateFarmer()[pri:1, instance:com.amcu.android.script.configuration.TC_01_ConfigureMilkAnalyzer@3a6f2de3]">testCreateFarmer</td> 
  <td>main@1896552614</td>   <td></td> </tr>
<tr bgcolor="b7a4e0">  <td>18/09/17 12:33:40</td>   <td>28231</td> <td title="&lt;&lt;BaseLib.OracleCloseConnection()[pri:0, instance:com.amcu.android.script.configuration.TC_01_ConfigureMilkAnalyzer@3a6f2de3]">&lt;&lt;OracleCloseConnection</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896552614</td>   <td></td> </tr>
<tr bgcolor="b7a4e0">  <td>18/09/17 12:33:40</td>   <td>28240</td> <td title="&lt;&lt;BaseLib.after_suite()[pri:0, instance:com.amcu.android.script.configuration.TC_01_ConfigureMilkAnalyzer@3a6f2de3]">&lt;&lt;after_suite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1896552614</td>   <td></td> </tr>
</table>
