<h2>Methods that were not run</h2><table>
<tr><td>com.amcu.android.script.configuration.TC_01_ConfigureMilkAnalyzer.myTest<br/>&nbsp;&nbsp;&nbsp;&nbsp;<i>Vaildate Farmer Collection Details In Portal</i></td></tr>
</table>