<<<<<<< HEAD
<h2>Methods that were not run</h2><table>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<<<<<<< HEAD
=======
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
>>>>>>> master
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
=======
<h2>Methods that were not run</h2><table>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.OracleCloseConnection</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
<tr><td>com.letstransport.library.BaseLib.before_suite</td></tr>
>>>>>>> branch 'master' of https://gitlab.com/qa_lt/automation.git
</table>